* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Core styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
}

.btn {
  display: inline-block;
  border: 1px solid;
  border-radius: 2px;
  text-decoration: none;
  font-weight: bold;
}

/* Header */
#header {
  height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/header-bg3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#header .navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 0;
}

#header .logo {
  margin-left: 0.3em;
  font-weight: 800;
  font-size: 1.7em;
  flex-direction: column;
}

#header nav {
  margin-right: 0.5em;
}

#header nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

#header nav ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: inline-block;
  margin-left: 0.5em;
}

#header nav ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  padding: 0.5em 1.5em;
  color: #000;
  background: #fff;
  border: none;
}

#nav .btn:hover {
  color: #fff;
  background: none;
  border: 1px solid #fff;
}

#header .header-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-size: 1.2em;
}

.caption-contents p {
font-style: italic
}

.caption-contents .btn {
  margin: 1em;
  padding: 0.2em 1em;
  color: #000;
  background: #fff;
  text-transform: capitalize;
  font-weight: 500;
  border: none;
}

.header-caption .btn:hover {
  background: none;
  color: #fff;
  border: 1px solid #fff;
}

/* Services */
#main {
  min-width: 100vw;
}

#section-a,
#section-b,
#section-c  {
  width: 100%;
  color: #000;
  padding: 1.5em 0;
}

#main h2 {
  font-size: 2em;
  text-transform: capitalize;
  color: rgb(153, 61, 0);
}

#section-a .box,
#section-b .box,
#section-c .box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

#section-a .card,
#section-b .card,
#section-c .card {
  background: #ffffffc1;
  width: 80%;
  margin: 2em auto;
  height: 300px;
  list-style: none;
  border-radius: 3px;
}

#section-a {
  background: #ececec;
}

#section-b {
  background: #f1f1f1;
}

.card .card-container {
  width: 100%;
  margin: 0 auto;
}

.card-container h3 {
  font-size: 1.5em;
  background: #242424;
  color: #fff;
  padding: 0.5em 0;
}

.card-container .account-details {
  margin: 0 auto;
  width: 100%;
}

.account-details .history {
  font-weight: bold;
  padding: 1em 0em;
    text-align: center;
}

.transactions .amount {
display: flex;
justify-content: space-between;
margin: 0.5em 2em;
border-bottom: 1px solid black;
}

.transactions .debit {
  color: red;
}

.amount .credit {
  color: green;
}

.account-details .balance {
  font-weight: bold;
  text-align: left;
}

/* Section B */
.section-b .card {
  width: 100%;
  height: 250px;
}

.section-b .card-item {
  width: 90%;
  border: 1px solid rgb(61, 55, 55);
}

#section-b .card img {
  width: 100%;
  height: auto;
}

#section-b .card p {
  padding: 1em;
  font-size: 1em;
  font-weight: bold;
}


/* Section C */

#section-c {
  background: #ececec;
}

#section-c .card-item {
  width: 100%;
}

#section-c .card-item img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 3em
}

#section-c .card-item p {
  padding: 1em;
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
}


/* Footer */
#footer {
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  background: #242424;
  font-weight: bold;
  color: #fff;
}


/* Media Queries */

@media screen and (min-width: 768px) {

  #Box {
    display: flex;
  }

  #section-a .card,
  #section-b .card,
  #section-c .card {
    margin: 2em;
  }

  #section-b img,
  #section-c img {
    width: 50%;
    height: auto;
  }

}

@media screen and (min-width: 1140px) {

  #container {
    width: 80%;
    margin: 0 auto;
  }

  #header #nav {
    margin-right: 0;
  }

  #header .header-caption {
    font-size: 2.5em;
  }


  #Box {
    display: flex;
  }

  #section-a .card,
  #section-b .card,
  #section-c .card {
    margin: 2em;
  }

  #section-b .card-item img,
  #section-c .card-item img {
    width: 50%;
    height: 50%;
    padding: 1em;
  }

}
